<%= div_for(comment) do %>
  <h4><%= comment.user %></h4>
  <% if comment.previous_state != comment.state %>
    <%= comment.previous_state %> &rarr; <%= comment.state %>
  <% end %>
  <%= simple_format(comment.text) %>
<% end %>
