<div id="ticket">
  <h2><%= @ticket.title %></h2>
  <span id="author">Created by <%= @ticket.user.email %></span>

  <%= simple_format(@ticket.description) %>

  <% if @ticket.assets.present? %>
    <h3>Attached Files</h3>
    <div class="assets">
      <% @ticket.assets.each do |asset| %>
      <p>
        <%= link_to File.basename(@ticket.asset.path),
                  @ticket.asset.url %>

        <%= link_to File.basename(asset.asset.path),
                  file_path(asset) %>
      </p>
      <p>
        <small>
          <%= number_to_human_size(@ticket.asset.size) %>
        </small>
      </p>
      <% end %>
    </div>
  <% end %>

  <% authorized?("edit tickets", @project) do %>
    <%= link_to "Edit Ticket", [:edit, @project, @ticket]%>
  <% end %>
  <% authorized?("delete tickets", @project) do %>
    <%= link_to "Delete Ticket" , [@project, @ticket], method: :delete,
      data: { confirm: "Are you sure you want to delete this ticket?" } %>
  <% end %>

  <h3>Comments</h3>
  <div id="comments">
    <% if @ticket.comments.exists? %> <co id="ch10_190_1"/>
      <%= render @ticket.comments.select(&:persisted?) %>
    <% else %>
      There are no comments for this ticket.
    <% end %>
  </div>
  <%= render "comments/form" %>
</div>
<%= render @ticket.state if @ticket.state %>
