<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Ticketee
    <% end %>
  </title>
  <%= favicon_link_tag 'seta.ico' %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><%= link_to "Sign up", new_user_path %></li>
          <li><%= link_to "Sign in", signin_path %></li>
        </ul>
        <% if current_user %>
          Signed in as <%= current_user.email %>
          <%= link_to "Sign out", signout_path, method: :delete %>
          <% admins_only do %>
            <%= link_to "Admin", admin_root_path %>
          <% end %>
        <% else %>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= yield %>
      <% flash.each do |key, value| %>
        <div class="flash" id='<%= key %>'>
          <%= value %>
        </div>
      <% end %>
    </div>
  </div>

</div>

</body>
</html>
